.khungbai{
    background-color: #FFFDE7;
    border: 1px solid #9E9E9E;
    width: 60%;
    margin: 30px auto;
    padding: 25px;
    text-align: center;
}
.tieude{
    color:#D40000 ;
    background-color: #FFD9E6;
    font-weight: bold;
    width: 70%;
    margin: 10px;
    padding: 10px;
}
.kho2, .kho1, .kho3{
    font-style: italic;
    line-height: 1.8;
}
.kho2{
    color: #D40000;
}
.kho1, .kho3{
    color: #0033CC;
}
hr{
    border: none;
    border-top: 1px solid #0033CC;
    width: 55%;
    margin: 20px auto;
}